# Ignore Visual Studio related files
.vs/
Asteroids/.vs/
Server_Project/.vs/

# Ignore build directories
Asteroids/Bin/
Asteroids/CSD1130_Asteroids/x64/
Server_Project/x64/
x64/
x86/
Debug/
Release/
build/

# Ignore compiled binaries and intermediate files
*.exe
*.dll
*.ilk
*.lib
*.pdb
*.obj
*.idb
*.iobj
*.ipdb
*.tlog

# Ignore database and backup files
*.suo
*.db
*.tmp
*.bak
*.swp
*.sln.docstates