# .vs
.vs/
Asteroids/.vs
Server_Project/.vs

# build directories
Asteroids/CSD1130_Asteroids/x64/
Server_Project/x64/
x64/
x86/
Debug/
Release/
build/

# temporary / backup files
*.tmp
*.bak
*.swp
*.sln.docstates
